@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200&display=swap');

*{
    font-family:  'Nunito', sans-serif;
}
.signup-container{
    background-color: rgb(243, 242, 242);
    border: 1px solid rgb(187, 186, 186);
    border-radius: 10px;
    width: 25%;
    margin: 80px auto;
    padding: 10px;
}
.input-form{
    margin-bottom: 20px;
}
.signup-btn{
    background-color: rgb(255, 187, 32);
    color: black;
    border:none;
    border-radius: 10px;
    padding: 10px;
}